
<script id="bootstrap-current-user" type="text/javascript">


  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
    user: current_user).html_safe %>
  <% end %>


  window.staticImages = {
    headerLogo: "<%= asset_path('bara-logo-small.png') %>",
    homeLogo: "<%= asset_path('bara-logo-large.png') %>",
    sessionPic: "<%= asset_path('session-pic.png') %>",
    footerPic: "<%= asset_path('footer-pic.png') %>",
    normalIcon: "<%= asset_path('normal-icon.png') %>",
    hoverIcon: "<%= asset_path('hover-icon.png') %>",
    spinner: "<%= asset_path('spinner.svg') %>",
    restaurants: "<%= asset_path('restaurants.png') %>",
    nightlife: "<%= asset_path('nightlife.png') %>",
  };

</script>

<main id="root"></main>
