<!DOCTYPE html>
<html>
  <head>
    <title>Bara</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'bara' %>
    <%= javascript_pack_tag 'application' %>

    <%= render 'application/favicon' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_maps_api_key}&language=en" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38641855-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-38641855-7');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
